<b>Меню:</b>

- 🎼 <b>Слушать музыку</b> – просто рандомный трек)
- ❤️ <b>Слушать любимую музыку</b> – рандомный понравившийся трек или рандомный, если нет любимых
- <b>Загрузить музыку</b> - можешь поделиться со всеми своим творчеством

Жду дальнейших указаний